.map-wrap {
  position: relative;
  width: 100%;
  height: 100%;
}

.map {
  width: 100%;
  height: 100vh;
}

.grid-control {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 10;
  background: white;
  padding: 8px 12px;
  border-radius: 4px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
  font-family: sans-serif;
  font-size: 14px;
  display: flex;
  gap: 12px;
  align-items: center;
}

.grid-control select {
  margin-left: 4px;
  padding: 4px;
}

.selection-counter {

}

.predict-button {
  background: #C53639;
  padding: 5px 15px;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.zoom-level-selection {
  font-weight: bold;
}

